<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
<appSettings>
   <add key="requestScheduleInterval" value="30" />
  
  <add key="file_path" value="C:\Files" />
  <!--<add key="file_path" value="C:\\Users\\Ahmed_shaikh\\Desktop\\ProcessFile.csv"/>-->
 
  <!--<add key="RequestMode" value="gmail"/>-->
  <add key="RequestMode" value="load" />
  <add key="RoutingKeyUnprocessedSuccess" value="UnprocessedSuccess" />
  <add key="RoutingKeyUnprocessedFail" value="UnprocessedFail" />
  <add key="ExchangeTopicName" value="robot.x.automation" />
  <add key="SuccessQueueName" value="robot.q.success" />
  <add key="FailureQueueName" value="robot.q.failure" />
  <!-- <add key="RequestMode" value="load"/> -->
  <add key="Log_file_Name" value="load_gen" />
  <add key="NoOfFailReq" value="4" />

  <add key="requestcount" value="3000" />
  <add key="queuethresholdcount" value="300" />
  <add key="userid" value="se" />
  <add key="emailSubject" value="RE: ASHI training." />

  <add key="rest_api_url" value="http://punitp274369d:3333/rpa/api/message" />
  <!--<add key="resp_api_url" value="http://punitp309914d:3333/rpa/api/message"/>-->
  
  <add key="req_exp_timeout" value="604800000" />
  
  <!--<add key="profile" value="UseCaseOne"/>-->
  <add key="profile" value="POCProfile" />
    
  <!--<add key="process" value="UseCase1"/>-->
  <add key="process" value="VFPOCProcess" />
  
  <add key="app_id" value="load_gen_app" />
  <add key="source_id" value="load_gen_source" />
  
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBOTService" />
                <binding name="BasicHttpsBinding_IBOTService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/AutomationService/BOTService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBOTService"
                contract="ServiceReference1.IBOTService" name="BasicHttpBinding_IBOTService" />
            <!--<endpoint address="https://iwpunlpt0078/AutomationService/BOTService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBOTService"
                contract="ServiceReference1.IBOTService" name="BasicHttpsBinding_IBOTService" />-->
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
