<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <appender-ref ref="MemoryAppender"/>
     <level value="DEBUG" /> <!--(DEBUG WARN ERROR) Warn level means Error + Transaction. Warn level is used for logging errors and error level is used for logging transactions-->
    </root>
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">
    </appender>
  </log4net>
  <appSettings>
    <add key="ConfigurationFieldsFilePath"  value="C:\Work\Assist\Live\AutomationComponents\ConfigurationFields.xml" />
    <add key="QueueName"  value="robot.q.automation" />
    <add key="RoutingKey"  value="Self.Group1" />
    <add key="Mode"  value="Robot" />
    <add key="RoutingKeyNotifiation"  value="mymessage" />
    <add key="RobotName"  value="Robot_OrderMgmt" />
    <add key="HeartBeatInterval"  value="5000" />
    <add key ="TaskFilePath" value ="C:\Work\Assist\Live\AutomationComponents\Tasks"/>
    <add key ="PluginPath" value ="C:\Work\Assist\Live\AutomationComponents\Plugins"/>
    <add key ="AddonPath" value ="C:\Work\Assist\Live\AutomationComponents\Addons"/>
    <add key ="MefDLLPath" value ="C:\Work\Assist\Live\AutomationComponents\MefDlls"/>
    <add key ="AutomationComponents" value ="C:\Work\Assist\Live\AutomationComponents"/>
    <add key="RobotName"  value="Robot_OrderMgmt" />
    <add key="RoutingKeyNotifiation"  value="mymessage" />
    <add key="RobotListFile"  value="C:\Work\Assist\Live\AutomationComponents\Deployment\RobotList.xml" />
  </appSettings>
 
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="RobotConsole.RobotAsService">
        <endpoint address="" binding="basicHttpBinding" contract="RobotConsole.IRobotAsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/RobotConsole/RobotAsService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConfigurator" />
        <binding name="BasicHttpBinding_IExecutor"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost/ConfiguratorService/ConfiguratorServiceClass.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurator"
        contract="ConfigurationServiceReference.IConfigurator" name="BasicHttpBinding_IConfigurator" />-->
      <endpoint address="http://localhost/ExecutorService/ExecutorServiceClass.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExecutor"
              contract="ExecutorClient.IExecutor" name="BasicHttpBinding_IExecutor" />
    </client>
  </system.serviceModel>
  
</configuration>