<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBOTService" />
        <binding name="BasicHttpsBinding_IBOTService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IBOTService1" />
        <binding name="BasicHttpsBinding_IBOTService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8090/AutomationService/BOTService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBOTService1"
        contract="ServiceReference1.IBOTService" name="BasicHttpBinding_IBOTService" />
      <endpoint address="https://iwpunlpt0078/AutomationService/BOTService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBOTService1"
        contract="ServiceReference1.IBOTService" name="BasicHttpsBinding_IBOTService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
