<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane Id="18f8dea8-e478-4abe-913a-dc42aa75bf67" DockWidth="268" />
    <LayoutDocumentPaneGroup Orientation="Vertical">
      <LayoutDocumentPane DockHeight="1.2090395480226*">
        <LayoutDocument Title="Dashboard" IsSelected="True" IsLastFocusedDocument="True" ContentId="1000" ToolTip="Dashboard" CanClose="False" LastActivationTimeStamp="05/29/2020 12:19:18" />
      </LayoutDocumentPane>
      <LayoutDocumentPane Id="7b84a40d-c043-4ede-806b-113ce5d6cf96" DockHeight="0.790960451977401*" />
    </LayoutDocumentPaneGroup>
    <LayoutAnchorablePane Id="bb4df37c-bdea-4b8a-9d63-8812b3096300" DockWidth="246" />
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable CanHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Automation Toolbox (Alt X)" IsSelected="True" ContentId="5000" CanClose="False" LastActivationTimeStamp="05/29/2020 12:19:18" PreviousContainerId="18f8dea8-e478-4abe-913a-dc42aa75bf67" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="50" AutoHideMinHeight="50" Title="Output" IsSelected="True" ContentId="200" FloatingLeft="702" FloatingTop="399" FloatingWidth="136" FloatingHeight="39" CanClose="False" LastActivationTimeStamp="05/29/2020 12:16:09" PreviousContainerId="7b84a40d-c043-4ede-806b-113ce5d6cf96" PreviousContainerIndex="0" />
    <LayoutAnchorable CanHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Project (Alt P)" IsSelected="True" ContentId="6000" IsMaximized="True" CanClose="False" LastActivationTimeStamp="05/29/2020 12:16:04" PreviousContainerId="bb4df37c-bdea-4b8a-9d63-8812b3096300" PreviousContainerIndex="0" />
    <LayoutAnchorable CanHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Library (Alt L)" IsSelected="True" ContentId="4000" CanClose="False" LastActivationTimeStamp="05/29/2020 12:19:18" PreviousContainerId="bb4df37c-bdea-4b8a-9d63-8812b3096300" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Execution Log" IsSelected="True" ContentId="100" FloatingLeft="-35" FloatingTop="391" FloatingWidth="1345" FloatingHeight="39" CanClose="False" LastActivationTimeStamp="05/29/2020 12:16:04" PreviousContainerId="7b84a40d-c043-4ede-806b-113ce5d6cf96" PreviousContainerIndex="0" />
    <LayoutAnchorable CanHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Entity Properties (F4)" IsSelected="True" ContentId="5" CanClose="False" LastActivationTimeStamp="05/29/2020 12:19:17" PreviousContainerId="bb4df37c-bdea-4b8a-9d63-8812b3096300" PreviousContainerIndex="0" />
    <LayoutAnchorable CanHide="False" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Outline View" IsSelected="True" ContentId="6030" CanClose="False" LastActivationTimeStamp="05/29/2020 12:19:18" PreviousContainerId="bb4df37c-bdea-4b8a-9d63-8812b3096300" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>